[submodule "deps/rustables"]
	path = deps/rustables
	url = https://gitlab.com/rustwall/rustables.git
[submodule "deps/nasty_network_ioctls"]
	path = deps/nasty_network_ioctls
	url = git@github.com:nightmared/nasty_network_ioctls.git
