[submodule "nftnl"]
	path = nftnl
	url = git@github.com:nightmared/nftnl-rs.git
[submodule "mnl"]
	path = mnl
	url = git@github.com:nightmared/mnl-rs.git
[submodule "rustables"]
	path = rustables
	url = git@gitlab.com:rustwall/rustables.git
