[submodule "rustables"]
	path = rustables
	url = git@gitlab.com:rustwall/rustables.git
[submodule "nasty_network_ioctls"]
	path = nasty_network_ioctls
	url = git@github.com:nightmared/nasty_network_ioctls.git
